:root {
    box-sizing: border-box;
    font-size: 2vw;
}

*,
::before,
::after {
    box-sizing: inherit;

    background-color:rgb(255, 222, 173)
}

.secondary-text,
.main-text {
    display: block;
    width: 5em;
    height: 5em;
    padding: 1em;
    margin: 3em 2em;

    background-color: coral;
    border: 2px solid rgb(49, 30, 0);
}